{% extends 'base.html.twig' %}

{% block title %}Breed index{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SUPERUSER')) %}

        <h1>Breed index</h1>

        <form action="{{ path('world_of_ponies_breed_index', { 'breedName': 'breedName' }) }}" >
            Breed Name :
            <input type="text" value = "{{ breedName | capitalize }}" name="breedName">
            <input type="submit" value="Rechercher">
        </form>

        <a href="{{ path('world_of_ponies_breed_new') }}">Create new</a>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Selected</th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'breedId' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_breed_index', {
                            'sortBy'            : 'breedName',
                            'order'             : order ,
                            'breedId'           : breedId ,
                            'breedName'         : breedName ,
                        }) }}"
                        >
                            BreedId
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'breedName' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_breed_index', {
                            'sortBy'            : 'breedName',
                            'order'             : order ,
                            'breedId'           : breedId ,
                            'breedName'         : breedName ,
                        }) }}"
                        >
                            BreedName
                        </a>
                    </th>
                    <th>BreedDescription</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for breed in breeds %}
                <tr>
                    <td>
                        <input class="checkBoxDelete" id="{{ breed.breedId }}" type="checkbox">
                    </td>
                    <td>{{ breed.breedId }}</td>
                    <td>{{ breed.breedName }}</td>
                    <td>{{ breed.breedDescription }}</td>
                    <td>
                        <a href="{{ path('world_of_ponies_breed_show', {'breedId': breed.breedId}) }}">show</a>
                        <a href="{{ path('world_of_ponies_breed_edit', {'breedId': breed.breedId}) }}">edit</a>
                        {{ include('world_of_ponies/breed/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="button" class="btn_delete_selected" value="Delete Selected">

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(breeds) }}
        </div>

    {% endif %}
{% endblock %}
