{% extends 'base.html.twig' %}

{% block title %}Breed index{% endblock %}

{% block body %}
    <h1>Breed index</h1>

    <a href="{{ path('world_of_ponies_breed_new') }}">Create new</a>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Selected</th>
                <th>BreedId</th>
                <th>BreedName</th>
                <th>BreedDescription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for breed in breeds %}
            <tr>
                <td>{{ breed.breedId }}</td>
                <td>{{ breed.breedName }}</td>
                <td>{{ breed.breedDescription }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_breed_show', {'breedId': breed.breedId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_breed_edit', {'breedId': breed.breedId}) }}">edit</a>
                    {{ include('world_of_ponies/breed/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
