{% extends 'base.html.twig' %}

{% block title %}Breed{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') %}

        <h1>Breed</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>BreedId</th>
                    <td>{{ breed.breedId }}</td>
                </tr>
                <tr>
                    <th>BreedName</th>
                    <td>{{ breed.breedName }}</td>
                </tr>
                <tr>
                    <th>BreedDescription</th>
                    <td>{{ breed.breedDescription }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('world_of_ponies_breed_index') }}">back to list</a>

        <a href="{{ path('world_of_ponies_breed_edit', {'breedId': breed.breedId}) }}">edit</a>

        {{ include('world_of_ponies/breed/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
