{% extends 'base.html.twig' %}

{% block title %}Horse index{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SPECIALIST')) %}

        <h1>Horse index</h1>

        <form action="{{ path('world_of_ponies_horse_index', { 'horseName': 'horseName' }) }}" >
            Horse Name :
            <input type="text" value = "{{ horseName }}" name="horseName">
            <input type="submit" value="Rechercher">
        </form>

        <a href="{{ path('world_of_ponies_horse_new') }}">Create new</a>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Selected</th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'horseId' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_horse_index', {
                            'sortBy'                 : 'horseId',
                            'order'                  : order ,
                            'horseName'              : horseName ,
                        }) }}"
                        >
                            HorseId
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'horseName' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_horse_index', {
                            'sortBy'                 : 'horseName',
                            'order'                  : order ,
                            'horseName'              : horseName ,
                        }) }}"
                        >
                            HorseName
                        </a>
                    </th>

                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for horse in horses %}
                <tr>
                    <td>
                        <input class="checkBoxDelete" id="{{  horse.horseId  }}" type="checkbox">
                    </td>
                    <td>{{ horse.horseId }}</td>
                    <td>{{ horse.horseName }}</td>
                    <td>
                        <a href="{{ path('world_of_ponies_horse_show', {'horseId': horse.horseId}) }}">show</a>
                        <a href="{{ path('world_of_ponies_horse_edit', {'horseId': horse.horseId}) }}">edit</a>
                        {{ include('world_of_ponies/horse/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="18">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="button" class="btn_delete_selected" value="Delete Selected">

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(horses) }}
        </div>

    {% endif %}
{% endblock %}
