{% extends 'base.html.twig' %}

{% block title %}Horse index{% endblock %}

{% block body %}
    <h1>Horse index</h1>

    <a href="{{ path('world_of_ponies_horse_new') }}">Create new</a>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Selected</th>
                <th>HorseId</th>
                <th>HorseName</th>
                <th>HorseDiseaseResistance</th>
                <th>HorseHygieneResistance</th>
                <th>HorseRecovery</th>
                <th>HorseStamina</th>
                <th>HorseJumpheight</th>
                <th>HorseSpeed</th>
                <th>HorseSociability</th>
                <th>HorseIntelligence</th>
                <th>HorseTemper</th>
                <th>HorseHealthState</th>
                <th>HorseMoralState</th>
                <th>HorseStressState</th>
                <th>HorseTirednessState</th>
                <th>HorseHungerState</th>
                <th>HorseCleaninessState</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horse in horses %}
            <tr>
                <td>
                    <input class="checkBoxDelete" id="{{  horse.horseId  }}" type="checkbox">
                </td>
                <td>{{ horse.horseId }}</td>
                <td>{{ horse.horseName }}</td>
                <td>{{ horse.horseDiseaseResistance }}</td>
                <td>{{ horse.horseHygieneResistance }}</td>
                <td>{{ horse.horseRecovery }}</td>
                <td>{{ horse.horseStamina }}</td>
                <td>{{ horse.horseJumpheight }}</td>
                <td>{{ horse.horseSpeed }}</td>
                <td>{{ horse.horseSociability }}</td>
                <td>{{ horse.horseIntelligence }}</td>
                <td>{{ horse.horseTemper }}</td>
                <td>{{ horse.horseHealthState }}</td>
                <td>{{ horse.horseMoralState }}</td>
                <td>{{ horse.horseStressState }}</td>
                <td>{{ horse.horseTirednessState }}</td>
                <td>{{ horse.horseHungerState }}</td>
                <td>{{ horse.horseCleaninessState }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_horse_show', {'horseId': horse.horseId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_horse_edit', {'horseId': horse.horseId}) }}">edit</a>
                    {{ include('world_of_ponies/horse/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="button" class="btn_delete_selected" value="Delete Selected">

{% endblock %}
