{% extends 'base.html.twig' %}

{% block title %}Mysql Tables Optimiser{% endblock %}

{% block body %}
    {% if is_granted('ROLE_OPTIMISER') %}

        <h1>Mysql Optimiseur</h1>


        <form action="{{ path('information_mysql_index', { 'tableName': 'tableName', 'moteur' : 'moteur' }) }}" >
            Nom:
            <input type="text" value = "{{ tableName }}" name="tableName"><br>
            Moteur :
            <input type="text" value = "{{ moteur }}" name="moteur" ><br>
            <input type="submit" value="Rechercher">
        </form>

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th>
                    <a href="{% if order == 'ASC' and sortBy == 'TABLE_NAME' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('information_mysql_index', {
                        'sortBy'            : 'TABLE_NAME',
                        'order'             : order ,
                        'tableName'              : tableName ,
                        'moteur'                : moteur
                    }) }}"
                    >Nom
                    </a>
                </th>
                <th>
                    <a href="{% if order == 'ASC' and sortBy == 'ENGINE' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('information_mysql_index', {
                        'sortBy'            : 'ENGINE',
                        'order'             : order ,
                        'tableName'              : tableName ,
                        'moteur'                : moteur
                    }) }}"
                    >Moteur
                    </a>
                </th>
                <th>Taille</th>
                <th>Dernière vérification</th>
                <th>Actions</th>

                </tr>
            </thead>
            <tbody>
            {% for table in tables %}
                {% if table.CHECKSUM == NULL %}
                    <tr class="bg-success">
                {% else %}
                    <tr class="bg-warning">
                {% endif %}


                    <td>{{ table.TABLE_NAME }}</td>
                    <td>{{ table.ENGINE }}</td>
                    <td>{{ table.DATA_LENGTH }}</td>
                    <td>{{ table.CHECK_TIME }}</td>
                    <td>
{#                        <a href="{{ path('information_table_repair', {'db' : 'mysql','tableName' : table.TABLE_NAME}) }}">Réparer</a>#}
{#                        <a href="{{ path('information_table_optimise', {'db' : 'mysql','tableName' : table.TABLE_NAME}) }}">Optimiser</a>#}
{#                        <a href="{{ path('information_table_check', {'db' : 'mysql','tableName' : table.TABLE_NAME}) }}">Vérifier</a>#}
{#                    #}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="23">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(tables) }}
        </div>

    {% endif %}
{% endblock %}
