{% extends 'base.html.twig' %}

{% block title %}Contest{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_CONTESTADMIN') or is_granted('ROLE_SUPERUSER')) %}
        <h1>Contest</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ContestId</th>
                    <td>{{ contest.contestId }}</td>
                </tr>
                <tr>
                    <th>StartDate</th>
                    <td>{{ contest.startDate ? contest.startDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>EndDate</th>
                    <td>{{ contest.endDate ? contest.endDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ contest.price }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('world_of_ponies_contest_index') }}">back to list</a>

        {% if not is_granted('ROLE_NEWSREADER') %}

            <a href="{{ path('world_of_ponies_contest_edit', {'contestId': contest.contestId}) }}">edit</a>

            {{ include('world_of_ponies/contest/_delete_form.html.twig') }}
        {% endif %}

    {% endif %}
{% endblock %}
