{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USERADMIN') %}
        <h1>User Global Privileges index</h1>

    {#    <a href="{{ path('user_new') }}">Create new</a>#}

        <form action="{{ path('user_index', { 'host': 'host','user' : 'user' }) }}" >
            Host:
            <input type="text" value = "{{ host }}" name="host"><br>
            User:
            <input type="text" value = "{{ user }}" name="user" ><br>
            <input type="submit" value="Rechercher">
        </form>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>
                        <a href="{% if order == 'ASC' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('user_index', { 'sortBy': 'user', 'order' : order ,'host':  host   , 'user' :  user   }) }}"
                        >
                            User
                        </a>
                    </th>
                    <th>Privileges</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.host }}</td>
                    <td>{{ user.user }}</td>

                    <td>{% set privs=user.globalPriv|split(',') %}
                        {% if privs[0] != ''  %}
                        <ul>
                            {% for priv in privs %}
                                <li>{{ priv }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('user_show', {'host': user.host,'user': user.user}) }}">show</a>
                        <a href="{{ path('user_edit', {'host': user.host,'user': user.user}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="47">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
