{% extends 'base.html.twig' %}

{% block title %}EquestrianCenter index{% endblock %}

{% block body %}
    <h1>EquestrianCenter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>EquestrianCenterId</th>
                <th>EquestrianCenterCapacity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equestrian_center in equestrian_centers %}
            <tr>
                <td>{{ equestrian_center.equestrianCenterId }}</td>
                <td>{{ equestrian_center.equestrianCenterCapacity }}</td>
                <td>
                    <a href="{{ path('equestrian_center_show', {'equestrianCenterId': equestrian_center.equestrianCenterId}) }}">show</a>
                    <a href="{{ path('equestrian_center_edit', {'equestrianCenterId': equestrian_center.equestrianCenterId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equestrian_center_new') }}">Create new</a>
{% endblock %}
