{% extends 'base.html.twig' %}

{% block title %}ItemFamily index{% endblock %}

{% block body %}
    <h1>ItemFamily index</h1>

    <form action="{{ path('world_of_ponies_item_family_index', { 'itemFamilyLabel': 'itemFamilyLabel' }) }}" >
        Item Family Label :
        <input type="text" value = "{{ itemFamilyLabel }}" name="itemFamilyLabel">
        <input type="submit" value="Rechercher">
    </form>
    
    <a href="{{ path('world_of_ponies_item_family_new') }}">Create new</a>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th><a href="{% if order == 'ASC' and sortBy == 'itemFamilyId' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('world_of_ponies_item_family_index', {
                        'sortBy'                 : 'itemFamilyId',
                        'order'                  : order ,
                        'itemFamilyLabel'        : itemFamilyLabel ,
                    }) }}"
                    >
                        ItemFamilyId
                    </a>
                </th>
                <th>ItemFamilyLabel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item_family in item_families %}
            <tr>
                <td>{{ item_family.itemFamilyId }}</td>
                <td>{{ item_family.itemFamilyLabel }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_item_family_show', {'itemFamilyId': item_family.itemFamilyId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_item_family_edit', {'itemFamilyId': item_family.itemFamilyId}) }}">edit</a>
                    {{ include('world_of_ponies/item_family/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center pagination">
        {{ knp_pagination_render(item_families) }}
    </div>
    
{% endblock %}
