{% extends 'base.html.twig' %}

{% block title %}ItemFamily{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SUPERUSER')) %}

        <h1>ItemFamily</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>ItemFamilyId</th>
                    <td>{{ item_family.itemFamilyId }}</td>
                </tr>
                <tr>
                    <th>ItemFamilyLabel</th>
                    <td>{{ item_family.itemFamilyLabel }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('world_of_ponies_item_family_index') }}">back to list</a>

        <a href="{{ path('world_of_ponies_item_family_edit', {'itemFamilyId': item_family.itemFamilyId}) }}">edit</a>

        {{ include('world_of_ponies/item_family/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
