{% extends 'base.html.twig' %}

{% block title %}Contest{% endblock %}

{% block body %}
    <h1>Contest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ContestId</th>
                <td>{{ contest.contestId }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ contest.startDate ? contest.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ contest.endDate ? contest.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ contest.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contest_index') }}">back to list</a>

    <a href="{{ path('contest_edit', {'contestId': contest.contestId}) }}">edit</a>

    {{ include('contest/_delete_form.html.twig') }}
{% endblock %}
