{% extends 'base.html.twig' %}

{% block title %}Infrastructure index{% endblock %}

{% block body %}
    <h1>Infrastructure index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>InfrastructureId</th>
                <th>InfrastructureType</th>
                <th>InfrastructureLvl</th>
                <th>InfrastructureDescription</th>
                <th>InfrastructureFamily</th>
                <th>InfrastructurePrice</th>
                <th>InfrastructureRessource</th>
                <th>InfrastructureItemCapacity</th>
                <th>InfrastructureHorseCapacity</th>
                <th>InfrastructureCleaninessDegree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for infrastructure in infrastructures %}
            <tr>
                <td>{{ infrastructure.infrastructureId }}</td>
                <td>{{ infrastructure.infrastructureType }}</td>
                <td>{{ infrastructure.infrastructureLvl }}</td>
                <td>{{ infrastructure.infrastructureDescription }}</td>
                <td>{{ infrastructure.infrastructureFamily }}</td>
                <td>{{ infrastructure.infrastructurePrice }}</td>
                <td>{{ infrastructure.infrastructureRessource }}</td>
                <td>{{ infrastructure.infrastructureItemCapacity }}</td>
                <td>{{ infrastructure.infrastructureHorseCapacity }}</td>
                <td>{{ infrastructure.infrastructureCleaninessDegree }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_infrastructure_show', {'infrastructureId': infrastructure.infrastructureId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_infrastructure_edit', {'infrastructureId': infrastructure.infrastructureId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('world_of_ponies_infrastructure_new') }}">Create new</a>
{% endblock %}
