{% extends 'base.html.twig' %}

{% block title %}Advertisement index{% endblock %}

{% block body %}
    <h1>Advertisement index</h1>

    <a href="{{ path('world_of_ponies_advertisement_new') }}">Create new</a>

    <form action="{{ path('advertisement_index', { 'advertisement' : 'advertisement' }) }}" >
        <label>
            Advertisement
            <input type="text" name="advertisement" value = "{{ advertisement }}" >
        </label>
        <input type="submit" value="Search">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="{% if order == 'ASC' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('user_index', { 'sortBy': 'advertisement', 'order' : order , 'advertisement' : advertisement }) }}"
                    >
                        AdvertisementId
                    </a>
                </th>
                <th>AdvertisementContent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advertisement in advertisements %}
            <tr>
                <td>{{ advertisement.advertisementId }}</td>
                <td>{{ advertisement.advertisementContent }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_advertisement_show', {'advertisementId': advertisement.advertisementId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_advertisement_edit', {'advertisementId': advertisement.advertisementId}) }}">edit</a>
                    {{ include('world_of_ponies/advertisement/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
