{% extends 'base.html.twig' %}

{% block title %}AutomaticTask index{% endblock %}

{% block body %}
    <h1>AutomaticTask index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>TaskId</th>
                <th>TaskToDo</th>
                <th>TaskFrequency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for automatic_task in automatic_tasks %}
            <tr>
                <td>{{ automatic_task.taskId }}</td>
                <td>{{ automatic_task.taskToDo }}</td>
                <td>{{ automatic_task.taskFrequency }}</td>
                <td>
                    <a href="{{ path('automatic_task_show', {'taskId': automatic_task.taskId}) }}">show</a>
                    <a href="{{ path('automatic_task_edit', {'taskId': automatic_task.taskId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('automatic_task_new') }}">Create new</a>
{% endblock %}
