{% extends 'base.html.twig' %}

{% block title %}Newspaper index{% endblock %}

{% block body %}
    <h1>Newspaper index</h1>

    <form action="{{ path('world_of_ponies_newspaper_index', { 'newspaperId': 'newspaperId' }) }}" >
        Newspaper Id :
        <input type="number" value = "{{ newspaperId }}" name="newspaperId">
        <input type="submit" value="Rechercher">
    </form>
    
    <a href="{{ path('world_of_ponies_newspaper_new') }}">Create new</a>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th><a href="{% if order == 'ASC' and sortBy == 'newspaperId' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('world_of_ponies_newspaper_index', {
                        'sortBy'                 : 'newspaperId',
                        'order'                  : order ,
                        'newspaperId'           : newspaperId ,
                    }) }}"
                    >
                        NewspaperId
                    </a>
                </th>
                <th>Weatherforecast</th>
                <th>ReleaseDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for newspaper in newspapers %}
            <tr>
                <td>{{ newspaper.newspaperId }}</td>
                <td>{{ newspaper.weatherforecast }}</td>
                <td>{{ newspaper.releaseDate ? newspaper.releaseDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_newspaper_show', {'newspaperId': newspaper.newspaperId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_newspaper_edit', {'newspaperId': newspaper.newspaperId}) }}">edit</a>
                    {{ include('world_of_ponies/newspaper/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center pagination">
        {{ knp_pagination_render(newspapers) }}
    </div>
    
{% endblock %}
