{% extends 'base.html.twig' %}

{% block title %}EquestrianCenter{% endblock %}

{% block body %}
    <h1>EquestrianCenter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EquestrianCenterId</th>
                <td>{{ equestrian_center.equestrianCenterId }}</td>
            </tr>
            <tr>
                <th>EquestrianCenterCapacity</th>
                <td>{{ equestrian_center.equestrianCenterCapacity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('world_of_ponies_equestrian_center_index') }}">back to list</a>

    <a href="{{ path('world_of_ponies_equestrian_center_edit', {'equestrianCenterId': equestrian_center.equestrianCenterId}) }}">edit</a>

    {{ include('world_of_ponies_equestrian_center/_delete_form.html.twig') }}
{% endblock %}
