{% extends 'base.html.twig' %}

{% block title %}AutomaticTask{% endblock %}

{% block body %}
    <h1>AutomaticTask</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TaskId</th>
                <td>{{ automatic_task.taskId }}</td>
            </tr>
            <tr>
                <th>TaskToDo</th>
                <td>{{ automatic_task.taskToDo }}</td>
            </tr>
            <tr>
                <th>TaskFrequency</th>
                <td>{{ automatic_task.taskFrequency }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('world_of_ponies_automatic_task_index') }}">back to list</a>

    <a href="{{ path('world_of_ponies_automatic_task_edit', {'taskId': automatic_task.taskId}) }}">edit</a>

    {{ include('world_of_ponies_automatic_task/_delete_form.html.twig') }}
{% endblock %}
