{% extends 'base.html.twig' %}

{% block title %}HorseClub index{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') %}

        <h1>HorseClub index</h1>

        <a href="{{ path('world_of_ponies_horse_club_new') }}">Create new</a>

        <form action="{{ path('world_of_ponies_horse_club_index', { 'horseClubId': 'horseClubId' }) }}" >
            Horse Club ID :
            <input type="number" value = "{{ horseClubId }}" name="horseClubId">
            <input type="submit" value="Rechercher">
        </form>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Selected</th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'horseClubId' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_horse_club_index', {
                            'sortBy'                 : 'horseClubId',
                            'order'                  : order ,
                            'horseClubId'            : horseClubId ,
                            'horseClubCapacity'      : horseClubCapacity ,
                        }) }}"
                        >
                            HorseClubId
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'horseClubCapacity' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_horse_club_index', {
                            'sortBy'                 : 'horseClubCapacity',
                            'order'                  : order ,
                            'horseClubId'            : horseClubId ,
                            'horseClubCapacity'      : horseClubCapacity ,
                        }) }}"
                        >
                            HorseClubCapacity
                        </a>
                    </th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for horse_club in horse_clubs %}
                <tr>
                    <td>
                        <input class="checkBoxDelete" id="{{ horse_club.horseClubId }}" type="checkbox">
                    </td>
                    <td>{{ horse_club.horseClubId }}</td>
                    <td>{{ horse_club.horseClubCapacity }}</td>
                    <td>
                        <a href="{{ path('world_of_ponies_horse_club_show', {'horseClubId': horse_club.horseClubId}) }}">show</a>
                        <a href="{{ path('world_of_ponies_horse_club_edit', {'horseClubId': horse_club.horseClubId}) }}">edit</a>
                        {{ include('world_of_ponies/horse_club/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="button" class="btn_delete_selected" value="Delete Selected">

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(horse_clubs) }}
        </div>

    {% endif %}
{% endblock %}
