{% extends 'base.html.twig' %}

{% block title %}HorseClub{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') %}

        <h1>HorseClub</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>HorseClubId</th>
                    <td>{{ horse_club.horseClubId }}</td>
                </tr>
                <tr>
                    <th>HorseClubCapacity</th>
                    <td>{{ horse_club.horseClubCapacity }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('world_of_ponies_horse_club_index') }}">back to list</a>

        <a href="{{ path('world_of_ponies_horse_club_edit', {'horseClubId': horse_club.horseClubId}) }}">edit</a>

        {{ include('world_of_ponies/horse_club/_delete_form.html.twig') }}

    {% endif %}
{% endblock %}
