{% extends 'base.html.twig' %}

{% block title %}Db index{% endblock %}

{% block body %}
    <h1>Db index</h1>

    <a href="{{ path('mysql_db_new') }}">Create new</a>

    <form action="{{ path('mysql_db_index', { 'host': 'host', 'user' : 'user', 'db' : 'db' }) }}" >
        Host:
        <input type="text" value = "{{ host }}" name="host"><br>
        Db:
        <input type="text" value = "{{ db }}" name="db" ><br>
        User:
        <input type="text" value = "{{ user }}" name="user" ><br>
        <input type="submit" value="Rechercher">
    </form>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th><a href="{% if order == 'ASC' and sortBy == 'host' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('mysql_db_index', {
                    'sortBy'            : 'host',
                    'order'             : order ,
                    'host'              : host ,
                    'db'                : db ,
                    'user'              : user,
                }) }}"
                >
                    Host
                </a>
            </th>
            <th><a href="{% if order == 'ASC' and sortBy == 'db' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('mysql_db_index', {
                    'sortBy'            : 'db',
                    'order'             : order ,
                    'host'              : host ,
                    'db'                : db ,
                    'user'              : user,
                }) }}"
                >
                    Db
                </a>
            </th>
            <th><a href="{% if order == 'ASC' and sortBy == 'user' %}
                                    {% set order = 'DESC' %}
                             {% else %}
                                    {% set order = 'ASC' %}
                             {% endif %}
                             {{ path('mysql_db_index', {
                    'sortBy'            : 'user',
                    'order'             : order ,
                    'host'              : host ,
                    'db'                : db ,
                    'user'              : user,
                }) }}"
                >
                    User
                </a>
            </th>
                <th>SelectPriv</th>
                <th>InsertPriv</th>
                <th>UpdatePriv</th>
                <th>DeletePriv</th>
                <th>CreatePriv</th>
                <th>DropPriv</th>
                <th>GrantPriv</th>
                <th>ReferencesPriv</th>
                <th>IndexPriv</th>
                <th>AlterPriv</th>
                <th>CreateTmpTablePriv</th>
                <th>LockTablesPriv</th>
                <th>CreateViewPriv</th>
                <th>ShowViewPriv</th>
                <th>CreateRoutinePriv</th>
                <th>AlterRoutinePriv</th>
                <th>ExecutePriv</th>
                <th>EventPriv</th>
                <th>TriggerPriv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for db in dbs %}
            <tr>
                <td>{{ db.host }}</td>
                <td>{{ db.db }}</td>
                <td>{{ db.user }}</td>
                <td>{{ db.selectPriv }}</td>
                <td>{{ db.insertPriv }}</td>
                <td>{{ db.updatePriv }}</td>
                <td>{{ db.deletePriv }}</td>
                <td>{{ db.createPriv }}</td>
                <td>{{ db.dropPriv }}</td>
                <td>{{ db.grantPriv }}</td>
                <td>{{ db.referencesPriv }}</td>
                <td>{{ db.indexPriv }}</td>
                <td>{{ db.alterPriv }}</td>
                <td>{{ db.createTmpTablePriv }}</td>
                <td>{{ db.lockTablesPriv }}</td>
                <td>{{ db.createViewPriv }}</td>
                <td>{{ db.showViewPriv }}</td>
                <td>{{ db.createRoutinePriv }}</td>
                <td>{{ db.alterRoutinePriv }}</td>
                <td>{{ db.executePriv }}</td>
                <td>{{ db.eventPriv }}</td>
                <td>{{ db.triggerPriv }}</td>
                <td>
                    <a href="{{ path('mysql_db_show', {'host': db.host}) }}">show</a>
                    <a href="{{ path('mysql_db_edit', {'host': db.host}) }}">edit</a>
                    {{ include('mysql/db/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center pagination">
        {{ knp_pagination_render(dbs) }}
    </div>

{% endblock %}
