{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') %}

        <h1>Transaction index</h1>

        <form action="{{ path('world_of_ponies_transaction_index', { 'transactionLabel': 'transactionLabel' }) }}" >
            Transaction Label :
            <input type="text" value = "{{ transactionLabel }}" name="transactionLabel">
            <input type="submit" value="Rechercher">
        </form>

        <a href="{{ path('world_of_ponies_transaction_new') }}">Create new</a>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>Selected</th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'transactionId' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_transaction_index', {
                            'sortBy'                 : 'transactionId',
                            'order'                  : order ,
                            'transactionLabel'       : transactionLabel ,
                        }) }}"
                        >
                            TransactionId
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'transactionLabel' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('world_of_ponies_transaction_index', {
                            'sortBy'                 : 'transactionLabel',
                            'order'                  : order ,
                            'transactionLabel'       : transactionLabel ,
                        }) }}"
                        >
                            TransactionAmount
                        </a>
                    </th>
                    <th>TransactionLabel</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>
                        <input class="checkBoxDelete" id="{{ transaction.transactionId }}" type="checkbox">
                    </td>
                    <td>{{ transaction.transactionId }}</td>
                    <td>{{ transaction.transactionAmount }}</td>
                    <td>{{ transaction.transactionLabel }}</td>
                    <td>
                        <a href="{{ path('world_of_ponies_transaction_show', {'transactionId': transaction.transactionId}) }}">show</a>
                        <a href="{{ path('world_of_ponies_transaction_edit', {'transactionId': transaction.transactionId}) }}">edit</a>
                        {{ include('world_of_ponies/transaction/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="button" class="btn_delete_selected" value="Delete Selected">

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(transactions) }}
        </div>

    {% endif %}
{% endblock %}
