{% extends 'base.html.twig' %}

{% block title %}TablesPriv index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USERADMIN') %}

        <h1>TablesPriv index</h1>

        <form action="{{ path('mysql_tables_priv_index', { 'host': 'host', 'user' : 'user', 'db' : 'db' }) }}" >
            Host:
            <input type="text" value = "{{ host }}" name="host"><br>
            Db:
            <input type="text" value = "{{ db }}" name="db" ><br>
            User:
            <input type="text" value = "{{ user }}" name="user" ><br>
            <input type="submit" value="Rechercher">
        </form>

        <a href="{{ path('mysql_tables_priv_new') }}">Create new</a>

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th><a href="{% if order == 'ASC' and sortBy == 'host' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('mysql_tables_priv_index', {
                            'sortBy'            : 'host',
                            'order'             : order ,
                            'host'              : host ,
                            'db'                : db ,
                            'user'              : user,
                        }) }}"
                        >
                            Host
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'db' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('mysql_tables_priv_index', {
                            'sortBy'            : 'db',
                            'order'             : order ,
                            'host'              : host ,
                            'db'                : db ,
                            'user'              : user,
                        }) }}"
                        >
                            Db
                        </a>
                    </th>
                    <th><a href="{% if order == 'ASC' and sortBy == 'user' %}
                                        {% set order = 'DESC' %}
                                 {% else %}
                                        {% set order = 'ASC' %}
                                 {% endif %}
                                 {{ path('mysql_tables_priv_index', {
                            'sortBy'            : 'user',
                            'order'             : order ,
                            'host'              : host ,
                            'db'                : db ,
                            'user'              : user,
                        }) }}"
                        >
                            User
                        </a>
                    </th>
                    <th>TableName</th>
                    <th>Grantor</th>
                    <th>Timestamp</th>
                    <th>TablePriv</th>
                    <th>ColumnPriv</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tables_priv in tables_privs %}
                <tr>
                    <td>{{ tables_priv.host }}</td>
                    <td>{{ tables_priv.db }}</td>
                    <td>{{ tables_priv.user }}</td>
                    <td>{{ tables_priv.tableName }}</td>
                    <td>{{ tables_priv.grantor }}</td>
                    <td>{{ tables_priv.timestamp ? tables_priv.timestamp|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{% set tables=tables_priv.tablePriv|split(',') %}
                        <ul>
                            {% for priv in tables %}
                                  <li>{{ priv }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ tables_priv.columnPriv }}</td>
                    <td>
                        <a href="{{ path('mysql_tables_priv_show', {'host': tables_priv.host}) }}">show</a>
                        <a href="{{ path('mysql_tables_priv_edit', {'host': tables_priv.host}) }}">edit</a>
                        {{ include('mysql/tables_priv/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center pagination">
            {{ knp_pagination_render(tables_privs) }}
        </div>

    {% endif %}
{% endblock %}
