{% extends 'base.html.twig' %}

{% block title %}TablesPriv{% endblock %}

{% block body %}
    <h1>TablesPriv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Host</th>
                <td>{{ tables_priv.host }}</td>
            </tr>
            <tr>
                <th>Db</th>
                <td>{{ tables_priv.db }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ tables_priv.user }}</td>
            </tr>
            <tr>
                <th>TableName</th>
                <td>{{ tables_priv.tableName }}</td>
            </tr>
            <tr>
                <th>Grantor</th>
                <td>{{ tables_priv.grantor }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ tables_priv.timestamp ? tables_priv.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TablePriv</th>
                <td>{{ tables_priv.tablePriv }}</td>
            </tr>
            <tr>
                <th>ColumnPriv</th>
                <td>{{ tables_priv.columnPriv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mysql_tables_priv_index') }}">back to list</a>

    <a href="{{ path('mysql_tables_priv_edit', {'host': tables_priv.host}) }}">edit</a>

    {{ include('mysql/tables_priv/_delete_form.html.twig') }}
{% endblock %}
