{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <a href="{{ path('world_of_ponies_item_new') }}">Create new</a>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th>Selected</th>
                <th>ItemId</th>
                <th>ItemLvl</th>
                <th>ItemDescription</th>
                <th>ItemPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <input class="checkBoxDelete" id="{{ item.itemId }}" type="checkbox">
                </td>
                <td>{{ item.itemId }}</td>
                <td>{{ item.itemLvl }}</td>
                <td>{{ item.itemDescription }}</td>
                <td>{{ item.itemPrice }}</td>
                <td>
                    <a href="{{ path('world_of_ponies_item_show', {'itemId': item.itemId}) }}">show</a>
                    <a href="{{ path('world_of_ponies_item_edit', {'itemId': item.itemId}) }}">edit</a>
                    {{ include('world_of_ponies/item/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input type="button" class="btn_delete_selected" value="Delete Selected">

{% endblock %}
