{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ItemId</th>
                <th>ItemLvl</th>
                <th>ItemDescription</th>
                <th>ItemPrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.itemId }}</td>
                <td>{{ item.itemLvl }}</td>
                <td>{{ item.itemDescription }}</td>
                <td>{{ item.itemPrice }}</td>
                <td>
                    <a href="{{ path('item_show', {'itemId': item.itemId}) }}">show</a>
                    <a href="{{ path('item_edit', {'itemId': item.itemId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('item_new') }}">Create new</a>
{% endblock %}
