{% extends 'base.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>TransactionId</th>
                <td>{{ transaction.transactionId }}</td>
            </tr>
            <tr>
                <th>TransactionAmount</th>
                <td>{{ transaction.transactionAmount }}</td>
            </tr>
            <tr>
                <th>TransactionLabel</th>
                <td>{{ transaction.transactionLabel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('transaction_index') }}">back to list</a>

    <a href="{{ path('transaction_edit', {'transactionId': transaction.transactionId}) }}">edit</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
